.ant-input-lg {
  font-size: 14px;
  height: 38px;
}
.ant-radio-inner:after {
  border-radius: 4px;
}
.ant-select-selection-selected-value {
  font-size: 14px;
}
.ant-input-search-button {
  font-size: 14px;
}
.ant-pagination-item-active:focus a,
.ant-pagination-item-active:hover a {
  color: #fff;
}
.ant-pagination-item-active {
  background: #4c8dfc;
  a {
    color: #fff;
  }
}
.ant-select-search__field__placeholder, .ant-select-selection__placeholder {
  font-size: 14px;
  color: #999;
}
.ant-input-disabled {
  background-color: #f8f8f8;
  color: #999;
  border-color: #ddd;
}

.ant-select-disabled > .ant-select-selection {
  border-color: #ddd;
  background: #f8f8f8;
  color: #999;
}
