// common
.nav-active {
  border-top: 3px solid #fff;
  border-bottom: 3px solid #4c8dfc;
}
.nav-default {
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
.img-bg {
  background-color: #f3f3f3;
  background-image: url("../../images/logo_bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.more-link {
  color: #333;
  &:hover {
    color: #4c8dfc;
  }
}
// home
.home-top-city-bg {
  background: url("../../images/home_top_bg.png") 0 center no-repeat;
}
.hom-top-code {
  &:before,
  &:after {
    position: absolute;
    right: 10px;
    content: "";
    border: 10px solid transparent;
    border-bottom: 10px solid #fff;
  }
  &:before {
    z-index: 10;
    top: 25px;
  }
  &:after {
    z-index: 50;
    top: 26px;
  }
}
.home-shdow-sm {
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.15);
}
.home-shdow-mid {
  box-shadow: 2px 4px 25px 0px rgba(0, 0, 0, 0.15);
}
.home-form {
  position: absolute;
  z-index: 10;
  top: 50px;
  left: 50%;
  margin-left: -600px;
}
.home-type-position {
  position: absolute;
  z-index: 10;
  width: 1200px;
  left: 50%;
  margin-left: -600px;
  bottom: -170px;
}
.home-type-hover:hover {
  transform: translateY(-20px);
}
.home-carousel {
  .slick-track {
    height: 600px;
    overflow: hidden;
  }
  .slick-dots {
    bottom: 140px;
    li button {
      height: 6px;
    }
  }
}
.home-slide {
  width: 100vw;
  text-align: center;
  height: 600px;
  background: #4c8dfc;
  overflow: hidden;
}
.home-loanlist-bg {
  background-image: url("../../images/home_loan_bg.png");
  background-size: cover;
}
.home-loancity-bg {
  background-image: url("../../images/home_loan_city_bg.png");
  background-size: cover;
}
.home-sendcode-disable button {
  background: #999;
  border: 1px solid #999;
  &:hover {
    background: #999;
    border: 1px solid #999;
  }
}
.home-loanlist-hover:hover {
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.06);
}
.home-loan-top {
  position: absolute;
  top: -18px;
  left: 20px;
  width: 242px;
  height: 18px;
  border-left: 2px solid #95743d;
  border-top: 2px solid #95743d;
  .home-loantop-text {
    position: absolute;
    left: 250px;
    top: -12px;
    color: #95743d;
    font-style: italic;
  }
}
.home-citybg-big {
  background-image: url("../../images/home_citylbg_0.jpg");
  background-size: cover;
}

.home-citybg-0 {
  background-image: url("../../images/home_citylbg_1.jpg");
  background-size: cover;
}
.home-citybg-1 {
  background-color: #f5f1ff;
}
.home-citybg-2 {
  background-color: #ddf3ff;
}
.home-citybg-3 {
  background-image: url("../../images/home_citylbg_4.jpg");
  background-size: cover;
}

.home-new-link {
  background: url("../../images/home_new_tip.png") 0 center no-repeat;
}

// loan
.loan-banner-bg {
  background: url("../../images/loan_banner_bg.png") 720px top no-repeat;
}
.loan-tab-one {
  background: url("../../images/loan_tab_one.png") left center no-repeat;
}
.loan-tab-one-active {
  background: url("../../images/loan_tab_one_active.png") left center no-repeat;
}
.loan-tab-two {
  background: url("../../images/loan_tab_two.png") left center no-repeat;
}
.loan-tab-two-active {
  background: url("../../images/loan_tab_two_active.png") left center no-repeat;
}
.loan-border {
  border: 1px solid #f2f2f2;
}
.loan-list-hover:hover {
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}
.loandetail-banner-textshadow{
  text-shadow: 0px 5px 3px #438dff;
}
.loandetail-title-hover:hover{
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
}
.loandetail-border-r{
  border-right:1px dashed #dddddd;
}
.loandetail-border-b{
  border-bottom:1px dashed #dddddd;
}
.loandetail-hot{
  line-height: 34px;
}
.loandetail-hot:hover{
  box-shadow: 0px 1px 10px 0px rgba(0, 94, 255, 0.15);
  color: white;
  background-color: #4c8dfc;
  font-weight: bold;
}
.loandetail-right-icon{
  width: 11px;
  height: 18px;
  background-image: url('../../images/loan-right-icon.png')
}
.loandetail-apply-1{
  background-image:url('../../images/loan-apply-id.png')
}
.loandetail-apply-2{
  background-image:url('../../images/loan-apply-phone.png')
}
.loandetail-apply-3{
  background-image:url('../../images/loan-apply-mayi.png')
}
.loandetail-apply-4{
  background-image:url('../../images/loan-apply-money.png')
}
//card

.card-cardlist-bg {
  background-image: url("../../images/card_rank_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.bg-999 {
  background-color: #999;
}
//new
.new-active {
  background-color: #4c8dfc;
  box-shadow: 0px 3px 12px 0px rgba(76, 141, 252, 0.7);
}
.new-default {
  background-color: rgba(76, 141, 252, 0.2);
}
.new-shadow {
  transition: box-shadow 1s;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.35);
}
.new-browse {
  background: url("../../images/nwe_newlist_browse.png") left no-repeat;
}
.new-list-active {
  background-color: #f8f8f8;
  transition: box-shadow 3s;
  transition: background-color 3s;
  &:hover {
    color: #4c8dfc;
    background-color: #ffffff;
    box-shadow: 0px 3px 18px 0px rgba(76, 141, 252, 0.12);
  }
  &:hover .new-shadow {
    box-shadow: none;
  }
  &:hover .new-color {
    color: #4c8dfc;
  }
  &:hover .new-browse {
    background: url("../../images/nwe_newlist_browse1.png") left no-repeat;
  }
}
//about
.about-banner-bg {
  background: url("../../images/about_banner_bg.jpg") center top no-repeat;
}
.about-title-bg {
  background: url("../../images/about_title_bg.png") center center no-repeat;
}
// 业务模式
.about-title-businessbg {
  background: url("../../images/about_title_businessbg.png") center center
    no-repeat;
}
.about_business_bg {
  height: 766px;
  background: url("../../images/about_business_bg.jpg") top no-repeat;
}
.about_business-title {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  border-left: 6px solid #fff;
  line-height: 100%;
  padding-left: 15px;
  letter-spacing: 1px;
}
.about-business-two {
  height: 230px;
  margin-bottom: 40px;
  padding: 30px;
  background: url("../../images/about_business_two.jpg") no-repeat;
}
.about-business-three {
  height: 230px;
  padding: 30px;
  background: url("../../images/about_business_three.jpg") no-repeat;
}
// 公司文化
.about-culture-title {
  background: url("../../images/about_culture_title.png") no-repeat;
  letter-spacing: 2px;
  color: #f9f8f8;
  font-size: 30px;
  font-weight: bold;
  line-height: 92px;
  margin: 0 auto;
}
.about-culture-list {
  text-align: right;
  height: 74px;
  padding-top: 5px;
  padding-right: 118px;
  margin-bottom:28px;
  div {
    font-size: 20px;
    letter-spacing: 1px;
    color: #4c8dfc;
    font-weight: bold;
    line-height: 100%;
    margin-bottom: 21px;
  }
  p {
    font-size: 16px;
    letter-spacing: 1px;
    color: #bbbbbb;
    line-height: 100%;
  }
}
.vision {
  background: url("../../images/about_culture_vision.png") right no-repeat;
}
.mission {
  background: url("../../images/about_culture_mission.png") right no-repeat;
}
.idea {
  background: url("../../images/about_culture_idea.png") right no-repeat;
}
.value {
  background: url("../../images/about_culture_value.png") right no-repeat;
}
// 联系我们
.about-contact-title {
  font-size: 30px;
  letter-spacing: 2px;
  color: #333333;
  font-weight: bold;
  text-align: center;
  background: url("../../images/about_contact_title.png") center center
    no-repeat;
}
.about-contact-list {
  width: 378px;
  div {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #4c8dfc;
    line-height: 100%;
    margin-bottom: 30px;
  }
  p {
    font-size: 18px;
    letter-spacing: 1px;
    color: #999999;
    line-height: 100%;
  }
  a {
    font-size: 18px;
    letter-spacing: 1px;
    color: #999999;
    line-height: 100%;
  }
}
.about-contact-bg {
  width: 630px;
  height: 527px;
  padding-bottom: 25px;
  background: url("../../images/about_contact_bg.jpg") no-repeat;
  p {
    width: 563px;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 1px;
    color: #ffffff;
  }
  a {
    font-size: 18px;
    letter-spacing: 1px;
    color: #ffffff;
  }
}
