// common
.logo {
  width: 140px;
  background: url("../../images/logo.png") 0 0 no-repeat;
}
.nav-active {
  border-top: 3px solid #fff;
  border-bottom: 3px solid #4c8dfc;
}
.nav-default {
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
.img-bg {
  background-color: #f3f3f3;
  background-image: url("../../images/logo_bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.more-link {
  color: #333;
  &:hover {
    color: #4c8dfc;
  }
}
.app-bg {
  background: url("../../images/foot_app.png") no-repeat;
  background-size: contain;
}
.code-bg {
  background: url("../../images/foot_code.png") no-repeat;
  background-size: contain;
}
.crumbs-ico-bg {
  padding-left: 25px;
  background: url("../../images/home_ico.png") left center no-repeat;
}
.crumbs-ico-right-bg {
  width: 5px;
  height: 8px;
  background: url("../../images/right_ico.png") 0 0 no-repeat;
}
.absolute-full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.opacity-half {
  opacity: 0.5;
}
.backtop-item {
  background-color: #ddd;
  color: #ababab;
  margin-bottom: 2px;
}
.backtop-hover:hover {
  background-color: #4c8dfc;
  color: #fff;
}
.back-top-qq{
  height: 22px;
  width: 22px;
  background-image: url("../../images/backtop_qq.png");
  background-repeat: no-repeat;
}
.visible {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
.qrcode-triangle::after {
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-left: 12px solid #fff;
  content: "";
  display: block;
  position: absolute;
  top: 112px;
  right: -24px;
}
.nodata-ico{
  width: 48px;
  height: 48px;
  background: url("../../images/nodata-ico.png") no-repeat;
}
// home
.home-bg-1{
  background-image: url("../../images/home_bg_1.jpg");
  background-size: cover;
}
.home-bg-2{
  background-image: url("../../images/home_bg_2.jpg");
  background-size: cover;
}
.home-top-city-bg {
  background: url("../../images/home_top_bg.png") 0 center no-repeat;
}
.hom-top-code {
  &:before,
  &:after {
    position: absolute;
    right: 10px;
    content: "";
    border: 10px solid transparent;
    border-bottom: 10px solid #fff;
  }
  &:before {
    z-index: 10;
    top: 25px;
  }
  &:after {
    z-index: 50;
    top: 26px;
  }
}
.home-shdow-sm {
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.15);
}
.home-shdow-mid {
  box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, 0.06);
}
.home-form {
  position: absolute;
  z-index: 10;
  left: 50%;
  margin-left: -600px;
  height:480px;
}
.home-type-position {
  position: absolute;
  z-index: 10;
  width: 1200px;
  left: 50%;
  margin-left: -600px;
  bottom: -170px;
}
.home-type-hover:hover {
  transform: translateY(-20px);
}
.home-carousel {
  .slick-track {
    height: 600px;
    overflow: hidden;
  }
  .slick-dots {
    bottom: 140px;
    li button {
      height: 6px;
    }
  }
}
.home-slide-img {
  display: block;
  width: 1920px;
  height: 480px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.home-loanlist-bg {
  background-image: url("../../images/home_loan_bg.png");
  background-size: cover;
}
.home-loancity-bg {
  background-image: url("../../images/home_loan_city_bg.png");
  background-size: cover;
}
.home-sendcode-disable button {
  background: #999;
  border: 1px solid #999;
  &:hover {
    background: #999;
    border: 1px solid #999;
  }
}
.home-loanlist-hover:hover {
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.06);
}
.home-loan-top {
  position: absolute;
  top: -18px;
  left: 20px;
  width: 242px;
  height: 18px;
  border-left: 2px solid #95743d;
  border-top: 2px solid #95743d;
  .home-loantop-text {
    position: absolute;
    left: 250px;
    top: -12px;
    color: #95743d;
    font-style: italic;
  }
}
.home-citybg-big {
  background-image: url("../../images/home_citylbg_0.jpg");
  background-size: cover;
}
.home-citybg-0 {
  background-image: url("../../images/home_citylbg_1.jpg");
  background-size: cover;
}
.home-citybg-1 {
   background-image: url("../../images/home_citylbg_2.jpg");
  background-size: cover;
}
.home-citybg-2 {
  background-image: url("../../images/home_citylbg_3.jpg");
  background-size: cover;
}
.home-citybg-3 {
  background-image: url("../../images/home_citylbg_4.jpg");
  background-size: cover;
}
.home-hotnew-bg0 {
  background-image: url("../../images/home_hotnew_0.png");
}
.home-hotnew-bg1 {
  background-image: url("../../images/home_hotnew_1.png");
}
.home-hotnew-bg2 {
  background-image: url("../../images/home_hotnew_2.png");
}
.home-new-link {
  background: url("../../images/home_new_tip.png") 0 center no-repeat;
}

// loan
.loan-banner-bg {
  background: url("../../images/loan_banner_bg.png") 720px top no-repeat;
}
.loan-tab-one {
  background: url("../../images/loan_tab_one.png") left center no-repeat;
}
.loan-tab-one-active {
  background: url("../../images/loan_tab_one_active.png") left center no-repeat;
}
.loan-tab-two {
  background: url("../../images/loan_tab_two.png") left center no-repeat;
}
.loan-tab-two-active {
  background: url("../../images/loan_tab_two_active.png") left center no-repeat;
}
.loan-border {
  border: 1px solid #f2f2f2;
}
.loan-list-hover:hover {
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}
.loandetail-banner-textshadow {
  text-shadow: 0px 5px 3px #438dff;
}
.loandetail-title {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.05);
}
.loandetail-border-r {
  border-right: 1px dashed #dddddd;
}
.loandetail-border-b {
  border-bottom: 1px dashed #dddddd;
}
.loandetail-hot {
  line-height: 34px;
}
.loandetail-hot:hover {
  box-shadow: 0px 3px 12px 0px rgba(76, 141, 252, 0.7);
  color: white;
  background-color: #4c8dfc;
  font-weight: bold;
}
.loandetail-right-icon {
  width: 11px;
  height: 18px;
  background-image: url("../../images/loan-right-icon.png");
}
.loandetail-globule {
  height: 12px;
  display: block;
  width: 12px;
}
.loan-apply-bg {
  background: url("../../images/loan_apply_bg.jpg") center top no-repeat;
}
.loan-apply-con-bg {
  background-image: url("../../images/loan_apply_line.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.loan-apply-shdow {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}
.loan-apply-border {
  border: 1px solid #ddd;
}
.loan-apply-asset-bg-active {
  background: url("../../images/loan_apply_asset_bg.png") 0 0 no-repeat;
}
//card
.card-cardlist-bg {
  background-image: url("../../images/card_rank_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.bg-999 {
  background-color: #999;
}
//new
.new-active {
  background-color: #4c8dfc;
  box-shadow: 0px 3px 12px 0px rgba(76, 141, 252, 0.7);
}
.new-default {
  background-color: rgba(76, 141, 252, 0.2);
}
.new-shadow {
  transition: box-shadow 1s;
  box-shadow: 0px 0px 13px 0px
		rgba(0, 0, 0, 0.35);
}
.new-browse {
  background: url("../../images/nwe_newlist_browse.png") left no-repeat;
}
.new-list-active {
  background-color: #f8f8f8;
  transition: box-shadow 3s;
  transition: background-color 3s;
  &:hover {
    color: #4c8dfc;
    background-color: #ffffff;
    box-shadow: 0px 3px 18px 0px
		rgba(76, 141, 252, 0.12);
  }
  &:hover .new-shadow {
    box-shadow: none;
  }
  &:hover .new-color {
    color: #4c8dfc;
  }
  &:hover .new-browse {
    background: url("../../images/nwe_newlist_browse1.png") left no-repeat;
  }
}
//about
.about-banner-bg {
  background: url("../../images/about_banner_bg.jpg") center top no-repeat;
}
.about-title-bg {
  background: url("../../images/about_title_bg.png") center center no-repeat;
}
.about-intro {
  width: 520px;
  height: 325px;
  background: url("../../images/about_intro.jpg") no-repeat;
}

// 业务模式
.about-title-businessbg {
  background: url("../../images/about_title_businessbg.png") center center
    no-repeat;
}
.about-business-bg {
  height: 766px;
  background: url("../../images/about_business_bg.jpg") top no-repeat;
}
.about-business-one {
  width: 500px;
  height: 250px;
  background: url("../../images/about_business_one.jpg") no-repeat;
}
.about-business-title {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  border-left: 6px solid #fff;
  line-height: 100%;
  padding-left: 15px;
  letter-spacing: 1px;
}
.about-business-two {
  height: 230px;
  margin-bottom: 40px;
  padding: 30px;
  background: url("../../images/about_business_two.jpg") no-repeat;
}
.about-business-three {
  height: 230px;
  padding: 30px;
  background: url("../../images/about_business_three.jpg") no-repeat;
}
// 公司文化
.about-culture-title {
  background: url("../../images/about_culture_title.png") no-repeat;
  letter-spacing: 2px;
  color: #f9f8f8;
  font-size: 30px;
  font-weight: bold;
  line-height: 92px;
  margin: 0 auto;
}
.about-culture-list {
  text-align: right;
  height: 74px;
  padding-top: 5px;
  padding-right: 118px;
  margin-bottom: 28px;
  div {
    font-size: 20px;
    letter-spacing: 1px;
    color: #4c8dfc;
    font-weight: bold;
    line-height: 100%;
    margin-bottom: 21px;
  }
  p {
    font-size: 16px;
    letter-spacing: 1px;
    color: #bbbbbb;
    line-height: 100%;
  }
}
.about-icon-vision {
  background: url("../../images/about_culture_vision.png") right no-repeat;
}
.about-icon-mission {
  background: url("../../images/about_culture_mission.png") right no-repeat;
}
.about-icon-idea {
  background: url("../../images/about_culture_idea.png") right no-repeat;
}
.about-icon-value {
  background: url("../../images/about_culture_value.png") right no-repeat;
}
.about-culture-bg {
  background: url("../../images/about_culture_bg.jpg") no-repeat;
}
// 联系我们
.about-contact-title {
  font-size: 30px;
  letter-spacing: 2px;
  color: #333333;
  font-weight: bold;
  text-align: center;
  background: url("../../images/about_contact_title.png") center center
    no-repeat;
}
.about-contact-list {
  width: 378px;
  div {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #4c8dfc;
    line-height: 100%;
    margin-bottom: 30px;
  }
  p {
    font-size: 18px;
    letter-spacing: 1px;
    color: #999999;
    line-height: 100%;
  }
  a {
    font-size: 18px;
    letter-spacing: 1px;
    color: #999999;
    line-height: 100%;
  }
}
.about-contact-bg {
  width: 630px;
  height: 527px;
  padding-bottom: 25px;
  background: url("../../images/about_contact_bg.jpg") no-repeat;
  p {
    width: 563px;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 1px;
    color: #ffffff;
  }
  a {
    font-size: 18px;
    letter-spacing: 1px;
    color: #ffffff;
  }
}
//app 下载
.app-qrcode-bg {
  background-image: url("../../images/appdown.png");
  background-size: contain;
}
.app-one-bg {
  background-image: linear-gradient(180deg, #3d66eb 1%, #32beff 100%);
}
.app-phone-one {
  background-image: url("../../images/app_dl_phone1.png");
  border-radius: 32px;
  box-shadow: -10px 0px 60px #3d66eb;
}
.app-phone-two {
  background-image: url("../../images/app_dl_phone2.png");
  border-radius: 32px;
  box-shadow: 0px 0px 100px #3d66eb;
}
.app-phone-three {
  background-image: url("../../images/app_dl_phone3.png");
  border-radius: 32px;
  box-shadow: 0px 0px 100px #d4eeff;
}
.app-phone-four {
  background-image: url("../../images/app_dl_phone4.png");
  border-radius: 32px;
  box-shadow: 0px 0px 100px #e5e5e5;
}
.app-phone-five {
  background-image: url("../../images/app_dl_phone5.png");
  border-radius: 32px;
  box-shadow: 0px 0px 100px #edf8ff;
}
.app-mark-one {
  background-image: url("../../images/app_dl_mark1.png");
}
.app-mark-two {
  background-image: url("../../images/app_dl_mark2.png");
}
.app-mark-three {
  background-image: url("../../images/app_dl_mark3.png");
}
.app-mark-four {
  background-image: url("../../images/app_dl_mark4.png");
}
.app-banner-bg {
  background-image: url("../../images/app_dl_foot-banner.png");
  background-size: cover;
}
.app-logo {
  background-image: url("../../images/app_dl_logo.png");
}
.app-logo-bs {
  border-radius: 20px;
  box-shadow: 0px 0px 25px 0px rgba(61, 128, 249, 0.5);
}
.app-common-bs {
  box-shadow: 0px 0px 100px 0px #edf8ff;
}
// me
.me-icon-1 {
  width: 15px;
  height: 18px;
  background-image: url("../../images/me_data_icon.png");
  background-repeat: no-repeat;
}
.me-icon-2 {
  width: 16px;
  height: 18px;
  background-image: url("../../images/me_apply_icon.png");
  background-repeat: no-repeat;
}
.me-icon-3 {
  width: 18px;
  height: 18px;
  background-image: url("../../images/me_message_icon.png");
  background-repeat: no-repeat;
}
.me-border-left {
  display: block;
  width: 4px;
  height: 56px;
  background-color: #4c8dfc;
  border-radius: 0px 2px 2px 0px;
  position: absolute;
  left: 0px;
  top:0px;
}
.me-loanapply-border-tlr {
  border-top: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
}
.me-massage-list {
  align-items: flex-start;
  position: relative;
  &::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #ff764c;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 6px;
  }
}
.me-nodata-bg{
  width: 200px;
  height: 200px;
  background: url("../../images/me_nodata_img.png")  no-repeat;
  background-size: 100%;
}
// login
.me-login-banner {
  background: url("../../images/me_login_banner.jpg") center no-repeat;
}
.login-img-code {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}

// city
.city-head-bg {
  height: 137px;
  background: url("../../images/city_head_bg.png") right no-repeat;
}
.city-hot-icon {
  margin-top: 35px;
  background-image: url("../../images/city_icon.png");
  background-repeat: no-repeat;
}
.city-serial {
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border-bottom: 1px solid #f5f5f5;
  position: relative;
  &:after {
    position: absolute;
    top: calc(50% - 10px);
    right: -15px;
    content: "";
    border: 10px solid transparent;
    border-left: 10px solid #4c8dfc;
    display: none;
  }
}
.city-item {
  padding: 12px 38px 0 0;
  border: 1px solid #eee;
  border-bottom: 1px solid #fff;
}
.city-item button:hover {
  color: #4c8dfc;
}
.city-list {
  &:hover .city-serial {
    color: #fff;
    border: 1px solid #4c8dfc;
    background-color: #4c8dfc;
  }
  &:hover .city-serial::after {
    display: block;
  }
  &:hover .city-item {
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
  }
  &:last-child .city-item {
    border-bottom: 1px solid #eee;
  }
  &:last-child .city-serial {
    border-bottom: 1px solid #eee;
  }
}
